__pycache__/
data_file.dill
Report/main.aux
Report/main.fdb_latexmk
Report/main.fls
Report/main.log
Report/main.out
Report/main.synctex.gz
Report/main.toc
Report/report.aux
Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.out
Report/report.synctex.gz
Report/report.toc
Report/report.nlo
temperature_profile.gif
static_temperature_profiles_with_boundaries.png
axial_temperature_profiles_along_interfaces.png
Report/short_report.fls
Report/short_report.log
Report/short_report.out
Report/short_report.synctex.gz
Report/short_report.toc
Report/short_report.fdb_latexmk
Report/short_report.aux
