__pycache__/
data_file.dill
Report/main.aux
Report/main.fdb_latexmk
Report/main.fls
Report/main.log
Report/main.out
Report/main.synctex.gz
Report/main.toc
Report/report.aux
Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.out
Report/report.synctex.gz
Report/report.toc
Report/report.nlo
